@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NetDevPLWeb.Features.Events.EventListViewModel>

@foreach (var e in Model.Events)
{
    <div class="row">
        <div class="jumbotron clearfix">
            <a href="@e.Url" target="_blank">
                <h2>@e.Title</h2>
            </a>
            <h3>@e.PrintPeriod("dd-MM-yyyy"), <cite>@e.City</cite>
            </h3>
        </div>
    </div>
}